@font-face {
  font-family: winkjs;
  src: url(../fonts/winkjs.eot) format("embedded-opentype"),
  url(../fonts/winkjs.woff2) format("woff2"),
  url(../fonts/winkjs.woff) format("woff");
}

html,
body {
  height: 100%;
  font-family: 'ff-tisa-sans-web-pro', serif;
}

a {
  color: #6C307D;
}

a:hover {
  color: #860278;
}

.navbar {
  border-radius: 0;
  border: 0;
  border-top: 4px solid #6C307D;
}

.navbar .navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 20px;
}

.navbar .navbar-nav > li > a.selected {
  background: #444;
}

.navbar .navbar-brand {
  font-family: 'ff-tisa-sans-web-pro', serif;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}

.navbar .navbar-brand {
  font-family: 'winkjs';
  letter-spacing: 0.4rem;
  font-weight: 100;
}

main {
  padding-top: 60px;
  min-height: 100%;
  margin-bottom: -60px;
}

footer {
  min-height: 60px;
  font-size: 14px;
  color: #eee;
  background: #222;
}

footer a {
  color: #ddd;
}

footer a:hover {
  color: #fff;
}

footer p {
  margin-top: 20px;
}

footer p em {
  float: right;
}

footer .social-icons ul li {
  position: relative;
  list-style: none;
  display: inline;
  float: right;
}

footer .social-icons ul li a {
  opacity: 0.5;
}

footer .social-icons ul li a:hover {
  opacity: 1;
}

footer .social-icons ul li a img {
  width: 40px;
  margin: 10px;
}

footer .social-icons ul li a img.github {
  width: 35px;
  margin-top: 13px;
}

.navbar .navbar-nav > li > a.purple_btn {
  background: #6C307D;
  color: #fff;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
